/** xmyslivec.cz
 *
 * css inspired by [Miro](https://hroncok.cz/)
 *
 */

/* general properties */
body {
    background: #000000;
    color: #00FF00;
    font-family: "Courier New", "Courier", "Lucida Console", "Monospace";
    font-size: 150%;
}

h1 {
    text-align: center;
    font-size: 250%;
}

a {
    color: #00FF00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* div styles */
.center {
    width: 80%;
    margin: 0 auto;
}

.left,.right {
    width: 48%;
    padding: 4px;
}

.left {
    float: left;
    text-align: right;
}

.right {
    float: right;
    text-align: left;
}

/* item styles */
.left a,.right a {
    background-size: 25px;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 30px;
}

.left a {
    padding-right: 30px;
    background-position: center right;
}

.right a {
    padding-left: 30px;
    background-position: center left;
}

/* item pictures */
#a_keybase {
    background-image: url("../img/keybase.png");
}

#a_mojeid {
    background-image: url("../img/mojeid.png");
}

#a_github {
    background-image: url("../img/github.png");
}

#a_twitter {
    background-image: url("../img/twitter.png");
}

#a_litecoin {
    background-image: url("../img/litecoin.png");
}

#a_bitcoin {
    background-image: url("../img/bitcoin.png");
}

#a_pgp {
    background-image: url("../img/pgp.png");
}

#a_email {
    background-image: url("../img/email.png");
}
